.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}

.card__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.card__react-button {
  background: transparent url(../images/card__action-heart.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: 0;
  cursor: pointer;
}

.card__react-button:hover {
  opacity: 0.5;
}
